@import "tailwindcss";

@font-face {
    font-family: "billie";
    src: url("@assets/fonts/billie_eilish.woff2");
}

@font-face {
    font-family: "lulo";
    src: url("@assets/fonts/lulo_clean.woff2");
}

@font-face {
    font-family: "bodoni";
    src: url("@assets/fonts/bodoni_moda.woff2");
}

@font-face {
    font-family: "space";
    src: url("@assets/fonts/space_grotesk.woff2");
}

@font-face {
    font-family: "bai";
    src: url("@assets/fonts/bai_jamjuree.woff2");
}

:root {
    --accent-color: #f9649d;
    --primary-color: #fdf1f3;
    --secondary-color: #fbb7bd;
    --font-active-color: #930029;
    --font-color: #c26970;
}

body::before {
    content: none;
}

body.projects-bg::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("@assets/images/projects/projects-background.webp");
    background-position: 47% 40%;
    z-index: -1;
}

body.about-bg {
    background-color: #e5a5cf;
}

body.default-bg {
    background-color: #fbb7bd;
}